<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPENDER_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="APPENDER"/>
    </appender>

    <logger name="org.k" level="INFO"/>
    <root level="WARN">
        <appender-ref ref="APPENDER_ASYNC"/>
    </root>
</configuration>